*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
    url(./images/img-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 20px;
    grid-gap: 30px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}
.logo{
    margin-left: 40px;
}
.logo p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vmin;
}
.navbar a{
    text-decoration: none;
    font-size: 3vmin;
    color: white;
    padding: 8px 15px;
    border-radius: 30px;
}
.navbar a:hover{
    color: rgb(201, 15, 71);
}
.header-contant{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    color: white;
}
.header-contant h2{
    font-size: 4vmin;
    font-weight: 400;
}
.line{
    width: 100px;
    height: 4px;
    background-color: rgb(201, 15, 71);
    margin: auto;
    margin-bottom: 30px;
}
.header-contant h1{
    font-size: 7vmin;
    font-weight:400;
    margin-bottom: 20px;
}
.header-contant button{
    width: 130px;
    height: 45px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    background-color: rgb(201, 15, 71);
    color: white;
    cursor: pointer;
    box-shadow: 5px 3px 0px rgb(146, 9, 50);
}
.header-contant button:hover{
    background-color: rgb(172, 172, 164);
    color: rgb(201, 15, 71);
    border: 2px solid rgb(201, 15, 71);
}
.main-contant{
    width: 100%;
    background-color: rgb(172, 175, 179);
    margin-top: 200px;
}
.main-contant h1{
    font-size: 5vmin;
    margin-bottom: 8px;
    color: rgb(18, 44, 78);
    text-align: center;
    margin-top: 100px;
}
.container-of-images-01{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: center;
    margin-top: 100px;
}
.container-of-images-01 img{
    width: 330px;
    height: 220px;
    transition: 0.2s ease;
    box-shadow: 0px 0px 10px #000;
    border-radius: 15px;
    margin-bottom: 30px;;
}
.container-of-images-01 img:hover{
        transform: scale(1.04);
}
.container-of-images-01 h3{
    font-size: 3vmin;
    color: rgb(18, 44, 78);
}
.container-of-images-01 p{
    font-size: 2vmin;
    color: rgb(18, 44, 78);
}
.container-of-images-01 button{
        width: 100px;
        height: 40px;
        border-radius: 30px;
        border: none;
        font-size: 16px;
        background-color: rgb(201, 15, 71);
        color: white;
        cursor: pointer;
        margin-top: 20px;
        box-shadow: 5px 3px 0px rgb(146, 9, 50);
    }
    .container-of-images-01 button:hover{
        background-color: rgb(172, 172, 164);
        color: rgb(201, 15, 71);
        border: 2px solid rgb(201, 15, 71);
    }
    .Container-02{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 100px;
    }
    .images-alinment-container img{
        width: 280px;
        height: 200px;
        box-shadow: 0px 0px 10px #000;
        border-radius: 15px;
        transition: 0.2s ease;
    }
    .images-alinment-container img:hover{
        transform: scale(1.04);
}
    .Conatiner-03{
        background-image:linear-gradient(rgba(49, 47, 47, 0.479),rgba(59, 53, 53, 0.404)), url(./images/img555.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 500px;
        margin-top: 50px;
        margin-bottom: 50px;;
    }
    .Conatiner-03 div{
        width: 100px;
        height: 4px;
        background-color: rgb(201, 15, 71);
        margin-left: 120px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .Conatiner-03 p{
        color: #c4bdbd;
        margin-left: 80px;
        font-size: 2vmin;
    }
    .Conatiner-03 h2{
        color: #fff;
        font-size: 5vmin;
        padding-top: 100px;
        padding-left: 80px;
    }
    .Conatiner-03 button{
        width: 130px;
        height: 45px;
        border-radius: 30px;
        border: none;
        font-size: 18px;
        background-color: rgb(201, 15, 71);
        color: white;
        cursor: pointer;
        box-shadow: 5px 3px 0px rgb(146, 9, 50);
        margin-top: 50px;
        margin-left: 100px;
    }
    .Conatiner-03 button:hover{
        background-color: rgb(172, 172, 164);
        color: rgb(201, 15, 71);
        border: 2px solid rgb(201, 15, 71);
    }
    .text-container{
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }
    .text-container h1{
        font-size: 6vmin;
    }
    .text-container p{
        color: rgb(18, 44, 78);
        font-size: 14px;
    }
    .text-container button{
        width: 100px;
        height: 40px;
        border-radius: 30px;
        border: none;
        font-size: 16px;
        background-color: rgb(201, 15, 71);
        color: white;
        cursor: pointer;
        margin-top: 20px;
        box-shadow: 5px 3px 0px rgb(146, 9, 50);
    }
    .text-container button:hover{
        background-color: rgb(172, 172, 164);
        color: rgb(201, 15, 71);
        border: 2px solid rgb(201, 15, 71);
    }
    .images-alinment-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .images-container{
        text-align: center;
        margin-top: 50px;
    }
    .footer{
        width: 100%;
        height: 60px;
        font-size: 2vmin;
        padding-top: 30px;
        margin-top: 100px;
        background-color: rgb(18, 44, 78);
        color: white;
        text-align: center;
    }
@media(max-width:1095px){
    .navbar{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .logo{
        margin: auto;
    }
    .menu{
        margin: auto;
    }
}
@media(max-width:800px){
    .container-of-images-01{
        grid-template-columns: repeat(1, 1fr);
        width: 98%;
    }
}
@media(max-width:1000px){
    .Container-02{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width:600px){
    .images-alinment-container{
        grid-template-columns: repeat(1, 1fr);
    }
}